h1{
    color: rgb(7, 0, 0);
    text-align: center;
}

.card{
    margin: 1.5px;
}
.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.7s linear;
}

.card-body {
    padding: 2rem 0 !important;
    background: rgb(232,200,174);
    background: linear-gradient(61deg, rgba(232,200,174,1) 23%, 
    rgba(167,249,226,1) 35%, 
    rgba(232,240,217,1) 64%);
}

.card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;

}


.overflow {
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.8);
}
.overflow img{
    width: 320px;
    height: 320px;
    object-fit: cover;
}

