@font-face {
  font-family: Sriracha;
  src: url(../../fuentes/Sriracha.ttf);
}
body,
html {
  margin: 0.5px;
}

.bgimg-1 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../img/banner.png);
  min-height: 100vh;
}
.caption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption .border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.section {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 200px;
}
.fuente{
    margin: 15px;
    font-family: Sriracha;
    font-size: 25px;
    align-items: center;
}

@media screen and (max-width: 700px){
  .fuente{
    width: 100%;
    font-size: 12px;
    margin: 5px;
  }
  .bgimg-1 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../img/banner.png);
    width: 100%;
    height: 10%;
    
  }
  .fuente{
    margin: 15px;
    font-family: Sriracha;
    font-size: 10px;
    align-items: center;
  }
  .caption .border {
    background-color: #111;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 10px;
  }
}